<h2>Onward.</h2>
<p>Well what now?</p>
<hr>
<h4>Deploying to Heroku</h4>
<p>It goes without saying that <a href="https://heroku.com">Heroku</a> is perhaps the easiest way to deploy an application.</p>
<p>I stumbled upon a great way to serve a yeoman app with Sinatra at <a href="https://github.com/lelylan/types-dashboard-ng">this repo</a>. Check out the <a href="https://github.com/shicholas/ng-cors-api">api repo</a>if you 
would like to see exactly how I did things.
</p>
<hr>
<h4>Resources</h4>
<p>There are a plethora of resources to help you get off your feet, here are a few that definitely helped me:</p>
<ul ng-repeat="book in books">
  <li><a ng-href="{{book.link}}">{{book.title}}</a></li>
</ul>
<hr>
<h4>And finally... MERRY CHRISTMAS!</h4>
