<form ng-submit="checkPassword(password)">
  <input type="text" ng-model="password"></input>
  <button type="submit">Guess: {{password}}</button>
</form>
<p>Check this out in your console! (hint: the password is open-sesame)</p>
<hr>
<p>If we try this without CORS we get this error</p>
<p>XMLHttpRequest cannot load http://ng-cors-api.herokuapp.com/?password=uoeu. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://127.0.0.1:9000' is therefore not allowed access. </p>
