<h2>Cross-Origin Resource Sharing</h2>
<p>Decoupiling Server from Front End</p>
<hr>
<h4>CORS is ubiquitous</h4>
<p><a href="http://www.w3.org/TR/cors/">CORS</a> in short allows a front-end to communicate with a back-end that is hosted on a separate server.
<p>
The quickest way to get started using a server with your Yeoman app is through CORS with
<a href="https://www.firebase.com">Firebase</a>, which uses
<a href="http://stackoverflow.com/questions/10710635/how-does-firebase-handle-cross-origin-issues">
  CORS
</a> to power their back-end implementation
</p>
<hr>
<p>
<a ui-sref="CORS.rails">See the rails code</a> | 
<a ui-sref="CORS.password">Can you guess the password?</a> | 
<a ui-sref="CORS">Hide everything</a>
</p>
<div ui-view></div>
<hr>

